
<div class="modal-body">
  <h3>Aide</h3>
  <h4>Insérer un nouvel événement</h4>
  <img src="img/help1.png" class="pull-right" alt="" width="100px" height="auto">
  <p>L'insertion d'un nouvel énénement se fait en passant en mode 
    d'insertion en cliquant sur la croix en haut à droite de l'affichage.<br>
    Lorsque le mode d'insertion est activé, vous pouvez sélectionner l'endroit 
    où se trouve le nouvel événement. Pour faciliter la navigation, les modes 
    de zoom et de translation de la carte sont utilisables.<br>
    En cliquant sur l'endroit désiré, une fenêtre s'ouvre dans le panneau de gauche 
    vous permettant de donner les détails sur l'événement que vous annoncez.</p>
  <h4>Chercher un événement</h4>
  <h5>Filtrer les événements</h5>
  <p>En haut de la liste des événements à gauche de l'affichage, un sélecteur
    multiple vous permet de filter les événements que vous voulez afficher. Les 
    nouveaux événements <span class="label label-default">new</span> sont affichés par défaut.</p>
  <h5>Naviguer dans la carte</h5>
  <p>Vous pouvez faire des zoom avant/arrière avec la roulette de la souris 
    ou avec les boutons en bas à droite de l'affichage.</p>
  <p>Vous pouvez faire des translations verticales/horizontales en déplaçant la
    souris tout en gardant la touche de droite enfoncée.</p>
  <p><strong>Note: </strong>La zone délimitée par le cadre gris clair 
  correspond à la zone prise en compte dans la recherche des événements 
  filtrés par positionnement géographique.</p>
  <h4>A propos</h3>
  <p>Travail réalisé dans le cadre du MAS-RAD Rapid Application Developpment. 
    Ce travail est le projet final d'Olivier Francey pour le module RFA 
    Développment frontend avancé.</p>
  <p>Olivier Francey &copy; 2017</p>
</div>
<div class="modal-footer">
  <button 
        type="button" 
        class="btn btn-default" 
        ng-click="h.closeModal()"
        data-dismiss="modal">
    Fermer</button>
</div>